<div id="gitments" style="width: 90%; margin: 0 auto;"></div>
<link rel="stylesheet" href="https://billts.site/extra_css/gitment.css">
<!-- <script src="https://billts.site/js/gitment.js"></script> -->
<script src="https://billts.site/js/gitment.js"></script>
<script>
    var gitment = new Gitment({
      id: window.location.pathname,
      owner: '<%= owner%>',
      repo: '<%= repo%>',
      oauth: {
        client_id: '<%= client_id%>',
        client_secret: '<%= client_secret%>',
      },
    })
    gitment.render('gitments')
</script> 