<div id="gitments" style="width: 90%; margin: 0 auto;"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>

<script>
    var gitment = new Gitment({
      id: window.location.pathname,
      owner: '<%= owner%>',
      repo: '<%= repo%>',
      oauth: {
        client_id: '<%= client_id%>',
        client_secret: '<%= client_secret%>',
      },
    })
    gitment.render('gitments')
</script> 